{% extends "base.html" %}
{% block title %}<title>Quiz</title>{% endblock %}
{% block content %}
    {# NOTE: This is just a non-working template for quiz #}
    <div class="container-fluid base-container">
        <div class="row">
        {# CENTER COLUMN: CONTAINS QUESTIONS #}
            <div class="col-sm-9 border">
                {% for i in "1234" %}
            {# template for single correct questions #}
                <div class="container-fluid border bg-light" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col"><p>Question <strong>{{ i }}</strong> of 9</p></div>
                        <div class="col text-center"><p>Marks: <strong>2</strong></span></p></div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm">Mark for Review</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="quiz-font">The Assam Government has signed an MoU with National Building Construction Corporation (NBCC) for construction of Twin Tower Trade Centre in Guwahati. Where is the headquarters of NBCC is located?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Choose the correct option:</p>
                        </div>
                    </div>
                    {% for j in "1234" %}
                    <div class="radio">
                        <label><input type="radio" name="optradio{{ i }}"> Option {{ j }}</label>
                    </div>
                    {% endfor %}
{#                    <div class="alert alert-danger">#}
{#                        Your Answer is <strong>Incorrect!</strong> Correct answer is <strong>Option 2</strong>#}
{#                    </div>#}
                </div>
                {% endfor %}
                {% for i in "567" %}
            {# template for text-based questions #}
                    <div class="container-fluid border bg-light" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col"><p>Question <strong>{{ i }}</strong> of 9</p></div>
                        <div class="col text-center"><p>Marks: <strong>4</strong></span></p></div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm">Mark for Review</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="quiz-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos hic id illo iure, minus sapiente! Adipisci architecto doloremque id incidunt magni maxime molestias nam, non praesentium reprehenderit temporibus voluptatem?</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="answer"><strong>Answer:</strong> <span class="text-muted">(Maximum 1200 Words)</span></label>
                        <textarea class="form-control" rows="4" id="answer"></textarea>
                    </div>
{#                    <div class="alert alert-secondary">#}
{#                        You have not answered this question.#}
{#                    </div>#}
                </div>
                {% endfor %}
                {% for i in "89" %}
            {# template for multiple correct questions #}
                <div class="container-fluid border bg-light" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col"><p>Question <strong>{{ i }}</strong> of 9</p></div>
                        <div class="col text-center"><p>Marks: <strong>4</strong></span></p></div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm">Mark for Review</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="quiz-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos hic id illo iure, minus sapiente! Adipisci architecto doloremque id incidunt magni maxime molestias nam, non praesentium reprehenderit temporibus voluptatem?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Choose one/more than one option(s):</p>
                        </div>
                    </div>
                    {% for i in "1234" %}
                    <div class="checkbox">
                        <label><input type="checkbox"> Option {{ i }}</label>
                    </div>
                    {% endfor %}
{#                    <div class="alert alert-success">#}
{#                        Your Answer is <strong>Correct!</strong>#}
{#                    </div>#}
                </div>
                {% endfor %}
            </div>
        {# LEFT COLUMN: CONTAINS EXAM DETAILS #}
            <div class="col-sm-3 text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis deleniti dolorem facere nesciunt perspiciatis tempora. Ad aliquam commodi cupiditate debitis, dicta facilis fugiat id magni optio recusandae sunt voluptate?
            </div>
        </div>
    </div>

{% endblock %}